.review{
display:grid;
grid-template-columns: auto auto auto auto;
grid-gap: 50px;
width: fit-content;
}
.a_img{
border-radius: 20px;
cursor: pointer;
}
.title_dv{
text-align: center; 
padding-bottom: 5px;
cursor: pointer;
}
.review_List{
padding: 0 10px 0 10px;
}
.container{
margin: 0 auto;
width: 1400px;
}
#readCount_no{
width: 225px;
text-align: right; 
font-weight: bolder;
display: inline-table;
}
.page_number{
text-align: center;
}
#like{
font-weight: bold;
}
.search_bar{
	text-align: center;
}
.category_bar{
	margin-top: 50px;
	text-align: center;
}
.order{
	margin-right: 8px;
}
#typeBox{
	height: 30px;
    width: 80px;
}